{
  "presets": [
    [
      "@babel/preset-env",
      { "loose": true, "shippedProposals": true }
    ],
    "@babel/typescript",
    ["react-app", { "flow": false, "typescript": true }]
  ],
  "plugins": [
    ["@babel/proposal-class-properties", { "loose": true }],
    "@babel/proposal-object-rest-spread"
  ]
}
